@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/assets/fonts/dejavusansmono.woff2') format('woff2'),
         url('/assets/fonts/dejavusansmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/assets/fonts/dejavusansmono-oblique.woff2') format('woff2'),
         url('/assets/fonts/dejavusansmono-oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/assets/fonts/dejavusansmono-bold.woff2') format('woff2'),
         url('/assets/fonts/dejavusansmono-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/assets/fonts/dejavusansmono-boldoblique.woff2') format('woff2'),
         url('/assets/fonts/dejavusansmono-boldoblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
